.loginwarraper{
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.sublogindiv{
    background-color: aliceblue;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 40vh; */
    border-radius: 10px;
}
.headerdiv{
    margin-bottom: 15px;
    color:crimson;
}
.loginInput{
    padding: 10px;
    border-radius: 8px;
    border-width: 1px;
    border-color: chartreuse;
}
.inputdiv{
    margin: 10px;
}
.error{
    text-align: center;
    color: red;
    font-size: 15px;
}