.mainNav{
    height: 10vh;
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.subNav{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.subNav p{
    margin: 0 20px;
}
.navlink{
    text-decoration: none;
    color: white;
}
.navlink:active{
    color:brown
}
.navlink:hover{
    color: brown;
}
.margin20{
    margin: 0 20px;
}
.plink{
    cursor: pointer;
    color: white;
}