.pwrapper{
    background-color: cadetblue;
    height: 90vh;
    padding: 40px;
    
}
.psub{
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    padding: 15px;
    
}
.detaildiv{
    flex-direction: column;
    width: 50%;
    padding: 0 0 0 10px;
    display: flex;
    height: 100%;
    justify-content: center;
}
.picDiv{
    width: 50%;
    display: flex;
    align-items:center;
    justify-content: flex-start;
    padding-top: 100px;
    flex-direction: column;
}
.dImg{
    max-width: 40vw;
    max-height: 40vh;
}
.orgp{
    color: red;
    text-decoration: line-through;
    margin-right: 5px;
}
.dprice{
    color: green;
    margin-left: 5px;
}
.asbutt{
    background-color: orange;
    padding: 15px;
}
.asbutt:hover{
    background-color: red;
}